body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #c4a6a6;
}

.App {
  text-align: center;
}

header {
  background-color: #8a4343;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  background-color: yellowgreen

}


.section {
  padding: 40px 20px;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #8a4343;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profile-pic {
  display: block;
  width: 150px; /* Adjust size as needed */
  height: 150px;
  border-radius: 50%; /* Makes the image round */
  margin: 0 auto 20px; /* Centers the image and adds space below */
}

.section {
  padding: 50px 0;
  background-color: #f8f8f8;
  text-align: center;
}



.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 10px;
}

.skills-list strong {
  font-weight: bold;
  margin-right: 5px;
}